.myclass {
  background: url("images/test.png") no-repeat center center;
  background: url("images/misc/test.png") no-repeat center center;
  background: url("//images/test.png") no-repeat center center;
  background: url("/images/test.png") no-repeat center center;
}
